body{
  background-color: #0f342f;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main-content {
  min-height: 100vh;
  min-width: 100vh;
  max-width: 250px;
  margin: auto;
}

/**New task view**/
#new-task-container {
  display: flex;
}

#new-task-container input {
  background-color: #cba733;
  border: 0;
  border-radius: 10px;
  font-size: large;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  color: #ffeaa3;
}

#new-task-container input::placeholder {
  color: #eacb66;
}

#new-task-container input:focus-within, #new-task-container button:focus-within {
  outline: none;
}

#new-task-container button {
  background-color: #ab4a16;
  color: #e79163;
  border: 0;
  border-radius: 10px;
  font-size: large;
  padding: 10px;
  margin: 10px 10px 10px 0;
}

#new-task-container button:active {
  background-color: #e1814e;
  color: #ab4a16;
}

/**List view**/
.list-tasks-container{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-task{
  background-color: #22756a;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  border-radius: 10px;
  font-size: large;
  padding: 10px;
  margin: 10px;

}

.task-checkbox{
  height: 20px;
  width: 20px;
  accent-color: #cba733;
  border-radius: 5px;
}

.task-checkbox:checked ~ .checkmark {
  border-color: #ffffff;
}

.task-text{
  flex-grow: 1;
  margin-left: 10px;
  overflow-x: scroll;
}

.task-text::-webkit-scrollbar {
  display: none;
}

.task-text {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.task-delete{
  margin: auto;
}

.crossed-line {
  text-decoration: line-through;
}



